In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [57]:
athletes_data = pd.read_csv('2025_Problem_C_Data/summerOly_athletes.csv', encoding='latin1')
hosts_data = pd.read_csv('2025_Problem_C_Data/summerOly_hosts.csv', encoding='latin1')
medal_data = pd.read_csv('2025_Problem_C_Data/summerOly_medal_counts.csv', encoding='latin1')
programs_data = pd.read_csv('2025_Problem_C_Data/summerOly_programs.csv', encoding='latin1')

In [58]:
# Melt the Programs Tables
programs_melted_data = programs_data.melt(id_vars=['Sport', 'Discipline'], value_vars=["1896", "1900", "1904", "1906*", 
"1908", "1912", "1920", "1924", "1928", "1932", "1936", "1948", "1952", "1956", "1960", "1964", "1968", 
"1972", "1976", "1980", "1984", "1988", "1992", "1996", "2000", "2004", "2008", "2012", "2016", "2020", 
"2024"], var_name='Year', value_name="Events")

In [59]:
# Group the Athletes table
grouped_athletes_df = athletes_data.groupby(['Team', 'Sport', 'Event', 'Year']).agg(
    Total_Athletes=('Name', 'count'),  # Count of distinct athletes
    Gold=('Medal', lambda x: (x == 'Gold').sum()),  # Count Gold medals
    Silver=('Medal', lambda x: (x == 'Silver').sum()),  # Count Silver medals
    Bronze=('Medal', lambda x: (x == 'Bronze').sum())  # Count Bronze medals
).reset_index()

# Sort the Athletes Table
sorted_athletes_data = grouped_athletes_df.sort_values(by=['Year', 'Sport', 'Event', 'Team'], ascending=[True, True, True, True]).reset_index()

In [60]:
unique_sports_list_athletes = sorted_athletes_data['Sport'].unique().tolist()
unique_sports_list_programs = programs_data['Sport'].unique().tolist()
print(unique_sports_list_athletes)
print(len(unique_sports_list_athletes))
print(unique_sports_list_programs)
print(len(unique_sports_list_programs))

in_athletes_not_in_programs = [item for item in unique_sports_list_athletes if item not in unique_sports_list_programs]
print(len(in_athletes_not_in_programs))
for item in in_athletes_not_in_programs:
    print(item)

['Athletics', 'Cycling', 'Fencing', 'Gymnastics', 'Shooting', 'Swimming', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery', 'Basque Pelota', 'Cricket', 'Croquet', 'Equestrianism', 'Football', 'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug-Of-War', 'Water Polo', 'Boxing', 'Diving', 'Lacrosse', 'Roque', 'Figure Skating', 'Hockey', 'Jeu De Paume', 'Motorboating', 'Racquets', 'Art Competitions', 'Modern Pentathlon', 'Ice Hockey', 'Alpinism', 'Aeronautics', 'Basketball', 'Canoeing', 'Handball', 'Judo', 'Volleyball', 'Rhythmic Gymnastics', 'Synchronized Swimming', 'Table Tennis', 'Badminton', 'Baseball', 'Beach Volleyball', 'Softball', 'Taekwondo', 'Trampolining', 'Triathlon', 'Rugby Sevens', '3x3 Basketball', 'Artistic Gymnastics', 'Artistic Swimming', 'Baseball/Softball', 'Canoe Slalom', 'Canoe Sprint', 'Cycling BMX Freestyle', 'Cycling BMX Racing', 'Cycling Mountain Bike', 'Cycling Road', 'Cycling Track', 'Equestrian', 'Karate', 'Marathon Swimming', 'Skateboarding', 'Sport Climbing', 'Surfing', 'Trampoline Gymnastics', '3x3 Basketball, Basketball', 'Breaking', 'Cycling Road, Cycling Mountain Bike', 'Cycling Road, Cycling Track', 'Cycling Road, Triathlon', 'Marathon Swimming, Swimming']
76
['Aquatics', 'Archery', 'Athletics', 'Badminton', 'Baseball\xa0and Softball', 'Basketball', 'Basque Pelota', 'Boxing', 'Breaking', 'Canoeing', 'Cricket', 'Croquet', 'Cycling', 'Equestrian', 'Fencing', 'Field hockey', 'Flag football', 'Football', 'Golf', 'Gymnastics', 'Handball', 'Jeu de Paume', 'Judo', 'Karate', 'Lacrosse', 'Modern Pentathlon', 'Polo', 'Rackets', 'Roque', 'Rowing', 'Rugby', 'Sailing', 'Shooting', 'Skateboarding', 'Sport Climbing', 'Squash', 'Surfing', 'Table Tennis', 'Taekwondo', 'Tennis', 'Triathlon', 'Tug of War', 'Volleyball', 'Water Motorsports', 'Weightlifting', 'Wrestling', 'Skating', 'Ice Hockey', 'Total events', 'Total disciplines', 'Total sports']
51
38
Swimming
Equestrianism
Tug-Of-War
Water Polo
Diving
Figure Skating
Hockey
Jeu De Paume
Motorboating
Racquets
Art Competitions
Alpinism
Aeronautics
Rhythmic Gymnastics
Synchronized Swimming
Baseball
Beach Volleyball
Softball
Trampolining
Rugby Sevens
3x3 Basketball
Artistic Gymnastics
Artistic Swimming
Baseball/Softball
Canoe Slalom
Canoe Sprint
Cycling BMX Freestyle
Cycling BMX Racing
Cycling Mountain Bike
Cycling Road
Cycling Track
Marathon Swimming
Trampoline Gymnastics
3x3 Basketball, Basketball
Cycling Road, Cycling Mountain Bike
Cycling Road, Cycling Track
Cycling Road, Triathlon
Marathon Swimming, Swimming

In [62]:
# Iterate over athletes dataframe rows
problem_sports = {"FILLEr"}

for i, athlete_row in sorted_athletes_data.iterrows():
    athlete_sport: str = athlete_row["Sport"] 
    
    if athlete_sport in programs_data.iloc[:, 1].values: 
        # Checking if it is already a sport
        continue 
    
    error_working = True
    # Now loop over the programs dataframe to find matching sport or discipline
    for _, program_row in programs_data.iterrows():
        program_sport: str = program_row["Sport"]
        program_discipline: str = program_row["Discipline"]

        try:
            # If athlete's sport matches the program's sport, update
            if program_sport in athlete_sport or athlete_sport in program_sport:
                sorted_athletes_data.at[i, 'Sport'] = program_sport 
                error_working = False
                break 

            # If athlete's sport matches the program's discipline, update with the sport name
            if program_discipline in athlete_sport or athlete_sport in program_discipline:
                sorted_athletes_data.at[i, 'Sport'] = program_sport  # Replace with the correct sport name
                error_working = False
                break
        except:
            continue
    
    if (error_working):
        # print("Index", i, "Athelete Sport:", athlete_sport)
        problem_sports.add(athlete_sport)

print(problem_sports)

{'Jeu De Paume', 'FILLEr', 'Motorboating', 'Racquets', 'Art Competitions', 'Tug-Of-War', 'Aeronautics', 'Alpinism', 'Trampolining'}

In [63]:
def replace_sport_name(og_name, new_name):
    sorted_athletes_data['Sport'].replace(og_name, new_name)
    print("Replaced", og_name, "With", new_name)

def remove_sport_name(name):
    sorted_athletes_data[sorted_athletes_data['Sport'] != name].reset_index(drop=True)
    print("Removed", name)

In [66]:
change_names = [("Motorboating", "Water Motorsports"), ("Racquets", "Rackets"), ("Tug-Of-War", "Tug Of War"), 
                ("Trampolining", "Gymnastics")]
remove_names = ["Art Competitions", "Aeronautics", "Alpinism"]

for (original_name, new_name) in change_names:
    replace_sport_name(original_name, new_name)

for name in remove_names:
    remove_sport_name(name)

Replaced Motorboating With Water Motorsports
Replaced Racquets With Rackets
Replaced Tug-Of-War With Tug Of War
Replaced Trampolining With Gymnastics
Removed Art Competitions
Removed Aeronautics
Removed Alpinism

In [67]:
print(sorted_athletes_data)

         index           Team      Sport                         Event  Year  \
0         2850      Australia  Athletics  Athletics Men's 1,500 metres  1896
1        34609         France  Athletics  Athletics Men's 1,500 metres  1896
2        38945        Germany  Athletics  Athletics Men's 1,500 metres  1896
3        46216         Greece  Athletics  Athletics Men's 1,500 metres  1896
4       104356  United States  Athletics  Athletics Men's 1,500 metres  1896
...        ...            ...        ...                           ...   ...
113119   74444        Nigeria  Wrestling        Women's Freestyle 76kg  2024
113120   83621        Romania  Wrestling        Women's Freestyle 76kg  2024
113121  101228        Tunisia  Wrestling        Women's Freestyle 76kg  2024
113122  102394       TÃ¼rkiye  Wrestling        Women's Freestyle 76kg  2024
113123  108716  United States  Wrestling        Women's Freestyle 76kg  2024

        Total_Athletes  Gold  Silver  Bronze
0                    1     1       0       0
1                    1     0       0       1
2                    1     0       0       0
3                    4     0       0       0
4                    1     0       1       0
...                ...   ...     ...     ...
113119               1     0       0       0
113120               1     0       0       0
113121               1     0       0       0
113122               1     0       0       0
113123               1     0       1       0

[113124 rows x 9 columns]

In [75]:
programs_melted_data.drop('Discipline', axis=1, inplace=True)
print(programs_melted_data)

                  Sport  Year Events
0              Aquatics  1896      0
1              Aquatics  1896      0
2              Aquatics  1896      0
3              Aquatics  1896      4
4              Aquatics  1896      0
...                 ...   ...    ...
2289            Skating  2024    NaN
2290         Ice Hockey  2024    NaN
2291       Total events  2024  329.0
2292  Total disciplines  2024   48.0
2293       Total sports  2024   32.0

[2294 rows x 3 columns]

In [79]:
# Year Type Check
sorted_athletes_data['Year'] = sorted_athletes_data['Year'].astype(str)
programs_melted_data['Year'] = programs_melted_data['Year'].astype(str)

# Merge Athletes and Programs Table
merged_df = pd.merge(sorted_athletes_data, 
                     programs_melted_data, 
                     how='left', 
                     left_on=['Sport', "Year"], 
                     right_on=['Sport', "Year"])
print(merged_df)

         index           Team      Sport                         Event  Year  \
0         2850      Australia  Athletics  Athletics Men's 1,500 metres  1896
1        34609         France  Athletics  Athletics Men's 1,500 metres  1896
2        38945        Germany  Athletics  Athletics Men's 1,500 metres  1896
3        46216         Greece  Athletics  Athletics Men's 1,500 metres  1896
4       104356  United States  Athletics  Athletics Men's 1,500 metres  1896
...        ...            ...        ...                           ...   ...
178164  101228        Tunisia  Wrestling        Women's Freestyle 76kg  2024
178165  102394       TÃ¼rkiye  Wrestling        Women's Freestyle 76kg  2024
178166  102394       TÃ¼rkiye  Wrestling        Women's Freestyle 76kg  2024
178167  108716  United States  Wrestling        Women's Freestyle 76kg  2024
178168  108716  United States  Wrestling        Women's Freestyle 76kg  2024

        Total_Athletes  Gold  Silver  Bronze Events
0                    1     1       0       0     12
1                    1     0       0       1     12
2                    1     0       0       0     12
3                    4     0       0       0     12
4                    1     0       1       0     12
...                ...   ...     ...     ...    ...
178164               1     0       0       0    6.0
178165               1     0       0       0   12.0
178166               1     0       0       0    6.0
178167               1     0       1       0   12.0
178168               1     0       1       0    6.0

[178169 rows x 10 columns]

In [80]:
print(hosts_data)

    ï»¿Year                                               Host
0      1896                                  Â Athens,Â Greece
1      1900                                   Â Paris,Â France
2      1904                        Â St. Louis,Â United States
3      1908                          Â London,Â United Kingdom
4      1912                               Â Stockholm,Â Sweden
5      1916      Â Cancelled (WWI â Berlin had been awarded)
6      1920                                Â Antwerp,Â Belgium
7      1924                                   Â Paris,Â France
8      1928                          Â Amsterdam,Â Netherlands
9      1932                      Â Los Angeles,Â United States
10     1936                                 Â Berlin,Â Germany
11     1940     Â CancelledÂ (WWII â Tokyo had been awarded)
12     1944    Â CancelledÂ (WWII â London had been awarded)
13     1948                          Â London,Â United Kingdom
14     1952                               Â Helsinki,Â Finland
15     1956                            Â Melbourne,Â Australia
16     1960                                     Â Rome,Â Italy
17     1964                                    Â Tokyo,Â Japan
18     1968                             Â Mexico City,Â Mexico
19     1972                            Â Munich,Â West Germany
20     1976                                Â Montreal,Â Canada
21     1980                            Â Moscow,Â Soviet Union
22     1984                      Â Los Angeles,Â United States
23     1988                              Â Seoul,Â South Korea
24     1992                                Â Barcelona,Â Spain
25     1996                          Â Atlanta,Â United States
26     2000                               Â Sydney,Â Australia
27     2004                                  Â Athens,Â Greece
28     2008                                  Â Beijing,Â China
29     2012                          Â London,Â United Kingdom
30     2016                          Â Rio de Janeiro,Â Brazil
31     2020  Â Tokyo,Â Japan (postponed to 2021 due to the ...
32     2024                                   Â Paris,Â France
33     2028                      Â Los Angeles,Â United States
34     2032                             Â Brisbane,Â Australia

In [100]:
# Changing merged_df column
merged_df = merged_df.rename(columns={'Team': 'Country'})

# Add Host column
merged_df['Host'] = 0

# Modifying Host Data to have Countrys
hosts_data[['City','Country']] = hosts_data.Host.str.split(",",expand=True)



for index, row in hosts_data.iterrows():
    try:
        country = row['Country'][2:]
        year = row['ï»¿Year']
    except:
        continue
    

    # Apply the 
    print(country)
    # merged_df = merged_df['Host'].where()
    condition = (merged_df['Country'] == country) & (merged_df['Year'] == year)
    print(condition)
    merged_df.loc[condition, 'Host'] = 1

    # curr_medals = medal_data.loc[(medal_data['Year'] == current_year) & (medalk_data['NOC'] == host), medal_type]

Greece
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
France
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United States
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United Kingdom
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Sweden
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Belgium
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
France
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Netherlands
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United States
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Germany
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United Kingdom
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Finland
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Australia
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Italy
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Japan
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Mexico
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
West Germany
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Canada
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Soviet Union
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United States
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
South Korea
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Spain
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United States
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Australia
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Greece
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
China
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United Kingdom
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Brazil
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Japan (postponed to 2021 due to the coronavirus pandemic)
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
France
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
United States
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool
Australia
0         False
1         False
2         False
3         False
4         False
          ...
178164    False
178165    False
178166    False
178167    False
178168    False
Length: 178169, dtype: bool

In [94]:
# print(merged_df)
max(merged_df['Host'])

0